<div class="bg"></div>
<div class="jumbotron">
  <h1>Free-Free Modal Analysis Sim App</h1>
  <h2>Click below to begin a simulation...
  </h2>
  <%= link_to "Create a Simulation!", create_path, class: "btn btn-lg btn-primary" %>
</div>
